body
{
	background-color: #f78fb3;
}

div.centro
{

	font-family: 'Gloria Hallelujah', consolas;
	color: #FFFFFF;
	text-align: center;
    background-color: #f8a5c2;
    
	width: 500px;
	height: 500px;	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    border-radius: 50px;
	
}

body.b2
{
	background-color: #e15f41;
}

div.centro2
{

	font-family: consolas;
	color: #FFFFFF;
	text-align: center;
    background-color: #e77f67;
    
	width: 500px;
	height: 500px;	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    border-radius: 50px;
	
}

a
{

    color: #FFFFFF;
    text-decoration: none;
    
}

a:active
{

    color: #EEEEEE;
    
}

a:hover
{

    color: #E3E3E3;
    
}

a.ls
{

    color: #E587A8;
    text-decoration: none;
    
}

div.secret
{
    
    position: absolute;
	top: 93%;
	left: 50%;
	transform: translate(-50%, -50%);
    padding: 20px;
    color: #E587A8;
    
}